In [35]:
import nltk.classify.util
from nltk.classify import NaiveBayesClassifier
from nltk.tokenize import TweetTokenizer
import pandas as pd
import os
import random

In [36]:
spam_tweets = pd.read_csv('spamtweet.csv', encoding="latin-1")
spam_tweets.head()

,tweet_id,text,screen_name,time_create,time_grab
0,5.273133e+17,"Hai kak, @akukuntum Follow yuk @InfoSehatID p...",LalaNurlaila14,2014-10-29 11:17:52,2014-11-02 04:33:42
1,5.273111e+17,"Hallo, @sidikwardoyo mau dapat info terbaru se...",LalaNurlaila14,2014-10-29 11:09:08,2014-11-02 04:33:42
2,5.273068e+17,"Hai kak, @rockymengko Follow @InfoSehatID yuk....",LalaNurlaila14,2014-10-29 10:51:55,2014-11-02 04:33:42
3,5.272998e+17,"Hallo, @bunniyun Yuk Follow rame2-- &gt;&gt; @...",LalaNurlaila14,2014-10-29 10:24:06,2014-11-02 04:33:42
4,5.272953e+17,"Hai kak, @FirdaListyani kalo ga keberatan, fol...",LalaNurlaila14,2014-10-29 10:06:01,2014-11-02 04:33:42

In [37]:
spam_tweets.drop(['tweet_id', 'screen_name', 'time_create', 'time_grab'], axis = 1, inplace=True)
spam_tweets.head()

                                                text
0  Hai kak, @akukuntum Follow yuk @InfoSehatID  p...
1  Hallo, @sidikwardoyo mau dapat info terbaru se...
2  Hai kak, @rockymengko Follow @InfoSehatID yuk....
3  Hallo, @bunniyun Yuk Follow rame2-- &gt;&gt; @...
4  Hai kak, @FirdaListyani kalo ga keberatan, fol...

In [38]:
spam_text = spam_tweets['text']
print(spam_text[0])

Hai kak, @akukuntum Follow yuk @InfoSehatID  paling update seputar Kesehatan, menarik dan menambah wawasan :), pasti di Folback!

In [39]:
tokenizer = TweetTokenizer()
tokens = tokenizer.tokenize(spam_text[0])
print(tokens)

['Hai', 'kak', ',', '@akukuntum', 'Follow', 'yuk', '@InfoSehatID', 'paling', 'update', 'seputar', 'Kesehatan', ',', 'menarik', 'dan', 'menambah', 'wawasan', ':)', ',', 'pasti', 'di', 'Folback', '!']

In [40]:
ham_tweets = pd.read_csv('hamtweets.csv', encoding="latin-1")
ham_tweets.head()

,tweet_id,screen_name,text,time_create,time_grab
0,968152876794163200,alditaher_indo,kuliner asik punya temen @joandita sukses http...,2018-02-26 15:56:47,2018-02-26 15:57:11
1,968152526292955136,Top_Dady,Menikmati Kopi Dengan Pemandangan Menakjubkan ...,2018-02-26 15:55:24,2018-02-26 15:57:11
2,968152496563785730,love_purwokerto,Pusat Wisata Kuliner Pasar Manis Purwokerto ya...,2018-02-26 15:55:17,2018-02-26 15:57:11
3,968152155289829377,SiskaAndriyant6,"Next kuliner jogja aj,#Yogyakarta https://t.co...",2018-02-26 15:53:55,2018-02-26 15:57:11
4,968151864616169472,ItsAleArgian,Setelah cukup sukses menjual botol-botol uniqu...,2018-02-26 15:52:46,2018-02-26 15:57:11

In [41]:
ham_tweets.drop(['tweet_id', 'screen_name', 'time_create', 'time_grab'], axis = 1, inplace=True)
ham_tweets.head()

                                                text
0  kuliner asik punya temen @joandita sukses http...
1  Menikmati Kopi Dengan Pemandangan Menakjubkan ...
2  Pusat Wisata Kuliner Pasar Manis Purwokerto ya...
3  Next kuliner jogja aj,#Yogyakarta https://t.co...
4  Setelah cukup sukses menjual botol-botol uniqu...

In [42]:
ham_text = ham_tweets['text']
print(ham_text[0])

kuliner asik punya temen @joandita sukses https://t.co/kCHx4SJ9nx

In [43]:
tokens = tokenizer.tokenize(ham_text[0])
print(tokens)

['kuliner', 'asik', 'punya', 'temen', '@joandita', 'sukses', 'https://t.co/kCHx4SJ9nx']

In [44]:
print(len(spam_text))
print(len(ham_text))

50001
99063

In [45]:
def create_word_features(words):
    my_dictionary = dict([(word, True) for word in words])
    return my_dictionary
create_word_features(["the", "quick"])

{'the': True, 'quick': True}

In [46]:
ham_list = []
spam_list = []

for text in ham_text:
    words = tokenizer.tokenize(text)
    ham_list.append((create_word_features(words), "ham"))

for text in spam_text:
    words = tokenizer.tokenize(text)
    spam_list.append((create_word_features(words), "spam"))

In [47]:
print(ham_list[1000])
print(spam_list[2000])

({'https://t.co/35ViRjibzl': True, '.': True, 'Movie': True, 'Korean': True, 'Selingkuh': True, 'Dikebon': True, 'Cabe': True, '#bokepkorea': True, '#bokepjepang': True, '@jilbabsange': True, '@Alinpenggodaâ': True, '\x80': True, '¦': True, 'https://t.co/LOhAgfhlAq': True}, 'ham')
({'hai': True, 'kak': True, ',': True, '@noph4': True, 'kalo': True, 'ga': True, 'keberatan': True, 'follow': True, '@Infousahaid': True, 'ya': True, 'infonya': True, 'keren': True, '2': True, 'banyak': True, 'peluang': True, 'seputar': True, 'usaha': True, 'pasti': True, 'di': True, 'Folback': True, '!': True}, 'spam')

In [48]:
combined_list = ham_list + spam_list
print(len(combined_list))
random.shuffle(combined_list)

149064

In [49]:
# Create a test and train section.

# 70% of the data is training. 30% is test

training_part = int(len(combined_list) * .7)

print(len(combined_list))

training_set = combined_list[:training_part]

test_set =  combined_list[training_part:]

print (len(training_set))
print (len(test_set))

149064
104344
44720

In [50]:
# Create the Naive Bayes filter

classifier = NaiveBayesClassifier.train(training_set)

# Find the accuracy, using the test data

accuracy = nltk.classify.util.accuracy(classifier, test_set)

print("Accuracy is: ", accuracy * 100)

Accuracy is:  99.9932915921288

In [51]:
classifier.show_most_informative_features(40)

Most Informative Features
                     hai = True             spam : ham    =  25940.8 : 1.0
                        = True              ham : spam   =  12189.0 : 1.0
                       ¦ = True              ham : spam   =  12117.7 : 1.0
                      RT = True              ham : spam   =  11390.9 : 1.0
                   Mahir = True             spam : ham    =   4292.3 : 1.0
                  Kursus = True             spam : ham    =   2603.5 : 1.0
                 wawasan = True             spam : ham    =   2223.2 : 1.0
                       \ = True             spam : ham    =   2206.0 : 1.0
               keberatan = True             spam : ham    =   2201.6 : 1.0
                     550 = True             spam : ham    =   2075.1 : 1.0
                  update = True             spam : ham    =   1796.1 : 1.0
                 seputar = True             spam : ham    =   1547.7 : 1.0
                  Pingin = True             spam : ham    =   1430.4 : 1.0
                Terbukti = True             spam : ham    =   1349.8 : 1.0
                 Ngomong = True             spam : ham    =   1333.1 : 1.0
                   Asing = True             spam : ham    =    996.9 : 1.0
                     Kak = True             spam : ham    =    909.4 : 1.0
                   jodoh = True             spam : ham    =    788.6 : 1.0
                 dapetin = True             spam : ham    =    745.0 : 1.0
                 infonya = True             spam : ham    =    733.9 : 1.0
                   Hallo = True             spam : ham    =    652.5 : 1.0
                motivasi = True             spam : ham    =    645.7 : 1.0
                    Game = True             spam : ham    =    531.6 : 1.0
               terupdate = True             spam : ham    =    474.4 : 1.0
                   sorry = True             spam : ham    =    473.2 : 1.0
                     kak = True             spam : ham    =    430.0 : 1.0
                 Belajar = True             spam : ham    =    427.1 : 1.0
                 Membuat = True             spam : ham    =    423.5 : 1.0
                     ini = True              ham : spam   =    371.0 : 1.0
                    lagi = True              ham : spam   =    344.1 : 1.0
                menambah = True             spam : ham    =    336.8 : 1.0
                    twit = True             spam : ham    =    328.4 : 1.0
                     PIN = True             spam : ham    =    327.6 : 1.0
                  ganggu = True             spam : ham    =    326.5 : 1.0
                    udah = True              ham : spam   =    321.9 : 1.0
                      Gk = True             spam : ham    =    316.4 : 1.0
                 peluang = True             spam : ham    =    292.9 : 1.0
                Makassar = True             spam : ham    =    262.1 : 1.0
               Ketagihan = True             spam : ham    =    245.1 : 1.0
                    Info = True             spam : ham    =    244.7 : 1.0